a.edit-button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    width: 60px;
}

a.edit-button:hover {
    background-color: #45a049;
}